<%= stylesheet_link_tag params[:controller] %>

<h1>Nachricht nicht gefunden</h1>

<p class="not_found">
  Es wurde keine Nachricht mit dem 3-Wort-Code
  "<strong><%= params[:address] %></strong>" gefunden. Hast du auf die Groß/Kleinschreibung geachtet?
</p>