<%= stylesheet_link_tag params[:controller] %>

<h1>Wähle einen Empfänger</h1>

<p class="warning">
  Achtung: Der Name eines Empfängers ist nicht verifiziert.
  Sollte der Hochstapler den 3-Wort-Code in die Hände bekommen könnte er die Nachricht lesen.
  Sollte sich jemand als du ausgeben kontaktiere mich bitte.
</p>

<ul class="user_list">
  <% @users.each do |user| %>
    <li class="user_list_entry">
      <%= link_to user.name, "/messages/new/" + user.id.to_s %>
    </li>
  <% end %>
</ul>